.background {
    background-color: black;
    color: white;
    text-align: center;
}

#main-title {
    text-align: center;
    font-size: xx-large;
    color: rgb(127, 96, 240);
}


.highlight {
    background-color: yellow;
    color: black;
}

.paragragh{
    margin-left: 5%;
    margin-right: 5%;
    font-size: medium;
}

.normal {
    color: whitesmoke;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.links {
    color:lightskyblue
}

.secondary-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hobbies ul{
    margin-left: 5%; 
    margin-right: 5%;
    padding: 1%;
    list-style-type: none;
}

.movie-table {
    margin-left: 5%;
    padding: 1%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
}

.white-border {
    border: 2px solid white;
}

#main-nav ul {
    display: grid;
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    list-style-type: none;
    text-align: center;
    margin: 0;
    gap: 10px;  
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
@media screen and (max-width: 600px) {
    #main-nav ul {
        grid-template-rows: repeat(5, 1fr);
    }
}

@media screen and (min-width: 600px) {
    #main-nav ul {
        grid-template-columns: repeat(5, 1fr);
    }
}
